# Untracked files:

.idea/
.python-version
__pycache__/
build/
dist/
englishidioms.egg-info/
.venv/
englishidioms/__pycache__/
.DS_Store
API_tokens.txt
englishidioms.code-workspace
testaswego.py
anothertest.py
delete.py
isolated.py